{% extends '../base.html'%}
{% block main %}
{% load static %}

<main class="container my-3 position-relative">
    <div class="d-flex flex-column justify-content-center align-content-start gap-2 position-relative">
      <div id="sort" class="d-flex justify-content-center align-content-center border rounded py-2 ">
        <div class="form-check form-switch d-flex justify-content-center align-items-center flex-grow-1">
          <div>
            <label class="form-check-label" for="flexSwitchCheckDefault">Uncompleted only</label>
            <input onchange="handleShowUncompletedOnly()" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
          </div>
        </div>
        <div>
          <a href="{% url 'logout_user' %}" class="normal-link p-2 rounded-full fa-solid fa-right-from-bracket "></a>
        </div>
      </div>
      <div>
        <div class="d-flex justify-content-start align-items-center gap-3 overflow-x-auto overflow-y-hidden my-2 pb-2">
          <button type="button" class="order-1 normal-btn text-success  px-2 py-1 rounded-2 border shadow-sm fs-small d-flex justify-content-center align-items-center" data-modal-targget="mg-costum-modal-new-category" onclick="open_close_GM_costum_modal(this)"><i class="fa-solid fa-plus fs-5 fa-fade"></i></button>
          {% if category %}
            <a href="{% url 'index' %}" class=" order-2 category normal-link px-3 py-1 rounded-2 border shadow-sm fs-small one-ligne-text bg-success ">ALL</a>
          {% endif %}
          {% for cat in categories %}
            <a href="{% url 'todos_category' cat.slug %}" class="category normal-link px-2 py-1 rounded-2 border shadow-sm fs-small one-ligne-text {% if category and category.id == cat.id  %} active order-3 {% else %} order-4 {% endif %}">{{ cat.name|title }}</a>
          {% endfor %}
          <button type="button" class="order-last normal-btn text-danger px-2 py-1 rounded-2 border shadow-sm fs-small d-flex justify-content-center align-items-center" data-modal-targget="mg-costum-modal-edit-category" onclick="open_close_GM_costum_modal(this)"><i class="fa-solid fa-trash fs-5 fa-fade"></i></button>
        </div>
        <span class="border-bottom">
          {% if category %}
            <span class="text-gray fa-fade">{{ category.get_counter }}</span>
          {% else %}
            <span class="text-gray fa-fade">{{ todos.count }}</span>
          {% endif %}
          <span>Todos</span>
        </span>
        <div class="cards mt-3 d-flex flex-column justify-content-center align-items-start gap-2 w-100 h-100">
          {% for todo in todos %}
            {% include "../components/todo-card.html" with todo=todo %}
          {% endfor %}
        </div>
      </div>
    </div>


    <div class="mg-costum-modal-holder">
      <div id="mg-costum-modal-new-todo" class="mg-costum-modal">
        <div class="mg-costum-modal-header">
          <div class="mg-costum-modal-header-content">Add a new todo</div>
          <span id="mg-costum-modal-close-span" onclick="close_GM_modal_btns(this)"
            class="mg-costum-modal-header-close">&times;</span>
        </div>
        <div class="mg-costum-modal-body w-100">


          <form class="w-100" method="POST" action="{% url 'create' %}" id="new-todo-form">
            {% csrf_token %}
            <div class="mb-3">
              <label for="title" class="form-label">Title :</label>
              <input type="text" name="title" id="title" class="form-control" placeholder="Title ...">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description :</label>
              <textarea rows="8" name="description" id="description" class="form-control" placeholder="Description ..."></textarea>
            </div>
            <div class="mb-3">
              <label for="new-todo-cat" class="form-label">Category :</label>
              <select name="category_id" id="new-todo-cat" class="form-select">
                {% for cat in categories %}
                  <option value="{{ cat.id }}">{{ cat.name|title }}</option>
                {% endfor %}
              </select>
            </div>

            <p class="text-center text-danger errer"></p>
          </form>


        </div>
        <div class="mg-costum-modal-footer">
          <button class="mg-costum-modal-footer-btn" onclick="close_GM_modal_btns(this)"
            id="mg-costum-modal-footer-btn-close">
            Cancel
          </button>
          <button class="mg-costum-modal-footer-btn bg-success " onclick="handleAddTodo(this)"
            id="mg-costum-modal-footer-btn mg-costum-modal-footer-btn-go">
            Add
          </button>
        </div>
      </div>



      <div id="mg-costum-modal-new-category" class="mg-costum-modal">
        <div class="mg-costum-modal-header">
          <div class="mg-costum-modal-header-content">Add a new category</div>
          <span id="mg-costum-modal-close-span" onclick="close_GM_modal_btns(this)"
            class="mg-costum-modal-header-close">&times;</span>
        </div>
        <div class="mg-costum-modal-body w-100">
          <form class="w-100" method="POST" action="{% url 'new_category' %}" id="new-category-form">
            {% csrf_token %}
            <div class="mb-3">
              <label for="category_name" class="form-label">Name</label>
              <input type="text" name="name" id="category_name" class="form-control" placeholder="Category name">
            </div>
            <p class="text-center text-danger errer"></p>
          </form>
        </div>
        <div class="mg-costum-modal-footer">
          <button class="mg-costum-modal-footer-btn" onclick="close_GM_modal_btns(this)"
            id="mg-costum-modal-footer-btn-close">
            Cancel
          </button>
          <button class="mg-costum-modal-footer-btn bg-success " onclick="handleAddCategory(this)"
            id="mg-costum-modal-footer-btn mg-costum-modal-footer-btn-go">
            Add
          </button>
        </div>
      </div>


      <div id="mg-costum-modal-edit-category" class="mg-costum-modal">
        <div class="mg-costum-modal-header">
          <div class="mg-costum-modal-header-content">Edit categories</div>
          <span id="mg-costum-modal-close-span" onclick="close_GM_modal_btns(this)"
            class="mg-costum-modal-header-close">&times;</span>
        </div>
        <div class="mg-costum-modal-body w-100">
          <form class="w-100" method="POST" action="{% url 'delete_category' %}" id="delete-category-form">
            {% csrf_token %}
            <div class="mb-3">
              <label for="category_id" class="form-label">Categories :</label>
              <select name="category_id" id="category_id" class="form-select">
                {% for cat in categories %}
                  <option value="{{ cat.id }}">{{ cat.name|title }}</option>
                {% endfor %}
              </select>
            </div>
            <p class="text-center text-danger errer"></p>
          </form>
        </div>
        <div class="mg-costum-modal-footer">
          <button class="mg-costum-modal-footer-btn" onclick="close_GM_modal_btns(this)"
            id="mg-costum-modal-footer-btn-close">
            Cancel
          </button>
          <button class="mg-costum-modal-footer-btn bg-success " onclick="handleDeleteCategory(this)"
            id="mg-costum-modal-footer-btn mg-costum-modal-footer-btn-go">
            Delete
          </button>
        </div>
      </div>





      {% for todo in todos %}
      <div id="mg-costum-modal-update-{{todo.id}}" class="mg-costum-modal">
        <div class="mg-costum-modal-header">
          <div class="mg-costum-modal-header-content">Updating  <span class="fw-bold text-gray">{{ todo.title }}</span></div>
          <span id="mg-costum-modal-close-span" onclick="close_GM_modal_btns(this)"
            class="mg-costum-modal-header-close">&times;</span>
        </div>
        <div class="mg-costum-modal-body w-100">
          <form class="w-100" method="POST" action="{% url 'update' todo.id %}" id="update-{{ todo.id }}-form">
            {% csrf_token %}
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" name="title" id="{{ todo.id }}-title" value="{{ todo.get_title }}" class="form-control title" placeholder="Title ...">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea rows="8" name="description" id="{{ todo.id }}-description" class="form-control description" placeholder="Description ...">{{ todo.get_description }}</textarea>
            </div>
            <div class="mb-3">
              <label for="update-todo-cat" class="form-label">Category</label>
              <select name="category_id" id="update-todo-cat" class="form-select">
                {% for cat in categories %}
                  <option {% if todo.category and todo.category.id == cat.id %}selected{% endif %} value="{{ cat.id }}">{{ cat.name|title }}</option>
                {% endfor %}
              </select>
            </div>
            <p class="text-center text-danger errer"></p>
          </form>
        </div>
        <div class="mg-costum-modal-footer">
          <button class="mg-costum-modal-footer-btn" onclick="close_GM_modal_btns(this)"
            id="mg-costum-modal-footer-btn-close">
            Cancel
          </button>
          <button class="mg-costum-modal-footer-btn bg-success " onclick="handleSubmitChanges(this)" id="todo-{{todo.id}}">
            Update
          </button>
        </div>
      </div>

      <div id="mg-costum-modal-delete-{{todo.id}}" class="mg-costum-modal">
        <div class="mg-costum-modal-header">
          <div class="mg-costum-modal-header-content">Deleteing <span class="fw-bold text-gray">{{ todo.title }}</span></div>
          <span id="mg-costum-modal-close-span" onclick="close_GM_modal_btns(this)"
            class="mg-costum-modal-header-close">&times;</span>
        </div>
        <div class="mg-costum-modal-body w-100">
          <p class="text-center text-danger">Are you sure you want to delete this todo ?</p>
          <p class="text-center text-danger">Deleted todos can not be restored</p>
        </div>
        <div class="mg-costum-modal-footer">
          <button class="mg-costum-modal-footer-btn" onclick="close_GM_modal_btns(this)"
            id="mg-costum-modal-footer-btn-close">
            Cancel
          </button>
          <a href="{% url 'delete' todo.id %}" class="normal-link mg-costum-modal-footer-btn bg-success " id="mg-costum-modal-footer-btn mg-costum-modal-footer-btn-go">Delete</a>
        </div>
      </div>
      {% endfor %}
    </div>


    <button data-modal-targget="mg-costum-modal-new-todo" onclick="open_close_GM_costum_modal(this)" id="create-btn" type="button" class="normal-btn m-0 p-0 bg-success text-white d-flex justify-content-center align-items-center" >
      <i class="fa-solid fa-plus fs-5 fa-fade"></i>
    </button>
</main>
<script>

</script>

<!-- <script>
  async function handleAddTodo(btn){
    const form = document.querySelector('#new-todo-form');
    const title = form.querySelector('#title');
    const description = form.querySelector('#description');
    const error = form.querySelector('.errer');
    const token = document.querySelector('[name="csrfmiddlewaretoken"]').value;

    if (!title.value){
      error.textContent = 'Please fill at least the title field';
      return;
    }else{

      await fetch(`/api/create`, {
        method: "POST",
        headers: {"Content-Type": "application/json", "X-CSRFToken": token},
        body: JSON.stringify({
          title: title.value,
          description: description.value
        })
      })
      .then((response) => response.json())
      .then((data) => {
        if (data.code === 0){
            error.textContent = `${data.message}`;
        }
        else if (data.code === 1) {
          const card = document.createElement('div');
          div.innerText = `

          <div data-completed="false" class="card bg-dark border rounded px-2 w-100 h-100 py-2">
            <a href="" class="normal-link py-1 px-5 w-100 text-center border-bottom border-white d-flex align-items-center">
                <h2 class="flex-grow-1 text-center">${data.title}</h2>
                <span>
                    <i class="{% if todo.completed %} fa-solid fa-circle-check  text-success {% else %} fa-solid fa-hourglass text-danger {% endif %}"></i>
                </span>
            </a>
            <div class="p-3">
                <p>${data.description}</p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column border-bottom ">
                        <div class="one-ligne-text ">
                            <span class="mb-0 "><span class="text-gray">By : </span> ${data.created_by.username}</span>
                        </div>
                    </div>
                    <div class="d-flex flex-column border-bottom ">
                        <div class="one-ligne-text ">
                            <span class="mb-0 "><span class="text-gray">Created : </span> ${data.created_by.username} Ago</span>
                        </div>
                    </div>
                    {% if todo.completed %}
                        <div class="d-flex flex-column border-bottom ">
                            <div class="one-ligne-text ">
                                <span class="mb-0 "><span class="text-gray">Done : </span>  {{ todo.completed_at|timesince }} Ago</span>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="w-100 d-flex justify-content-end gap-2 align-items-center">
                    <button
                        data-modal-targget="mg-costum-modal-update-{{todo.id}}"
                        onclick="open_close_GM_costum_modal(this)"
                        type="button"
                        class="normal-btn px-2 py-2 rounded d-flex justify-content-center align-items-center bg-success text-white"
                        >
                        <i class="fa-solid fa-pen-to-square fa-fade"></i>
                    </button>
                    <button data-modal-targget="mg-costum-modal-delete-{{todo.id}}" onclick="open_close_GM_costum_modal(this)" type="button" class="normal-btn px-2 py-2 rounded d-flex justify-content-center align-items-center bg-success text-white"><i class="fa-solid fa-trash fa-fade"></i></button>
                </div>
            </div>
        </div>

          `
            const cards = document.querySelector('.cards');
            cards.insertAdjacentHTML('afterbegin', data.html);
            title.value = '';
            description.value = '';
        }
      })
      .catch((err) => {
      });
    }
  }




  async function deleteItemFromBasket(btn) {
    const itemId = btn.dataset.id;
    const itemWrapper = document.getElementById(`basket-item-basket-item-${itemId}`);
    const token = document.querySelector('[name="csrfmiddlewaretoken"]').value;
    await fetch(`/api/wish/${itemId}/delete`, {
        method: "POST",
        headers: {"Content-Type": "application/json", "X-CSRFToken": token}
      })
      .then((response) => response.json())
      .then((data) => {
        if (data.code === 0){
            createToastMsg(`Une erreur s'est produite. Veuillez réessayer.`);
            console.log(data.message);
        }
        else if (data.code === 1) {
            createToastMsg(`${data.message}`);
            itemWrapper.remove();
            const total_amount_without_tva = document.querySelector(`#total_amount_without_tva`);
            const total_dilivery = document.querySelector(`#total_dilivery`);
            const total_amount_with_tva = document.querySelector(`#total_amount_with_tva`);
            const final_price = document.querySelector(`#final_price`);

            total_amount_without_tva.innerText = parseInt(data.total_amount_without_tva);
            total_dilivery.innerText = parseInt(data.total_dilivery);
            total_amount_with_tva.innerText = parseInt(data.total_amount_with_tva);
            final_price.innerText = parseInt(data.final_price);
        }
        else{
            createToastMsg(`Une erreur s'est produite. Veuillez réessayer.`);
        }

      })
      .catch((err) => {
        createToastMsg(`${err}`);
      });
}

</script> -->
{% endblock main %}
